.grid-places {
  display: grid;

  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;

  grid-gap: 80px 40px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

@media screen and (max-width: 768px) {
  .grid-places {
    grid-gap: 72px 28px;
  }
}
