.grid-places__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 54px;
  max-width: 984px;
  margin-top: 80px;
}

@media screen and (max-width: 1280px) {
  .grid-places__item {
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .grid-places__item {
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 740px) {
  .grid-places__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
}
