.grid-places__url{

  letter-spacing: 0.2em;

  color: #AAAAAA;

  font-size: 12px;
  line-height: 1.7;
  margin: 0 16px 12px;
}

@media screen and (max-width: 768px) {
  .grid-places__url {
    display: none;
  }
}
